          <li>
            <div class="timeline-image">
              <h4>11 Dec 2016</h4>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Tabletop Games</h4>
                <h4 class="subheading">Keeping It Simple</h4>
              </div>
              <div class="timeline-body">
                <p>In this post I talk about how game rules should be simplified whenever possible, and offer a glimsp of how it works in my game.</p>
              </div>
            </div>
          </li>