{{ partial "header.html" . }}
{{ $baseURL := .Site.BaseURL }}

<!-- Header -->
<!-- Navigation -->
<div id="nav">
  <nav class="navbar navbar-custom">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse"> <i class="fa fa-bars"></i> </button>
        <a class="navbar-brand page-scroll" href="#page-top">Ruben "RogueJS" Tan</a> </div>
      
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
        <ul class="nav navbar-nav">
          <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
          <li class="hidden"> <a href="#page-top"></a> </li>
          <li> <a class="page-scroll" href="/">Back to Main</a> </li>
          <li> <a class="page-scroll" href="/tech">On Tech...</a> </li>
          <li> <a class="page-scroll" href="/gaming">On Gaming...</a> </li>
          <li> <a class="page-scroll" href="/life">On Life...</a> </li>
        </ul>
      </div>
    </div>
  </nav>
</div>


<!-- Content Section -->
<div id="single">
  <div class="container">
    <div class="section-title text-center center">
      <h2>{{ .Title }}</h2>
      <div class="col-md-12 text-center single-date">Posted on {{ .Date.Format "monday, 2 Jan 2006" }}</div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="content-text">
           {{ .Content }}
        </div>
        <div class="text-center center">
          <hr>
          <p>
            Article {{ range .Params.types }}[<a href="{{ $baseURL }}types/{{ . | urlize }}">{{ . }}</a>]{{ end }}
            tagged as {{ range .Params.tags }}[<a href="{{ $baseURL }}tags/{{ . | urlize }}">{{ . }}</a>]{{ end }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

{{ partial "footer.html" . }}